@media screen and (max-width: 768px) {
  .first-section-footer {
    background-color: var(--mediumblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
  }
  .title-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  .logo-footer {
    width: 10%;
    border-radius: 10px;
  }
  .first-section-footer > div {
    padding: 15px;
    width: 100%;
  }
  .first-section-footer > div > li {
    list-style: none;
  }
  .icon-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .icon-container-footer > img {
    width: 5%;
  }

  .second-section-footer {
    background-color: var(--lmblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 25px 0 25px 0;
  }
  .ul-footer {
    border-bottom: solid #ccc;
  }
  .ul-title {
    font-weight: 600;
  }
  .ul-footer,
  .ul-title {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
  }
  .second-section-footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 25px;
  }
  .ul-footer li:not(.ul-title) {
    display: none;
  }
  .ul-footer.open li {
    display: block;
  }
  .second-section-footer > div > ul > li {
    list-style: none;
  }
  .weather-container-footer {
    display: flex;
    align-items: center;
  }

  .top-icon {
    animation: bounce 3s infinite; /* Applique l'animation */
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0); /* Position initiale */
    }
    40% {
      transform: translateY(-15px); /* Déplace l'image vers le haut */
    }
    60% {
      transform: translateY(-7.5px); /* Rebond intermédiaire */
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1450px) {
  .second-section-footer {
    background-color: var(--lmblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 50px;
  }
  .link-parent {
    display: flex;
    flex-direction: row;
  }
  .first-section-footer {
    background-color: var(--mediumblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 700;
  }
  .title-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .logo-footer {
    width: 5%;
    border-radius: 10px;
  }
  .first-section-footer > div {
    padding: 15px;
    width: 50%;
  }
  .first-section-footer > div > li {
    list-style: none;
  }
  .icon-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
  .icon-container-footer > img {
    width: 4.5%;
  }
  .left-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    gap: 20px;
    margin-right: 0;
  }
  .ul-footer {
    width: 30%;
    padding-left: 0;
  }
  hr {
    width: 90%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1450px) {
  .link-parent {
    display: flex;
    flex-direction: row;
  }
  .first-section-footer {
    background-color: var(--mediumblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 700;
  }
  .title-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .logo-footer {
    width: 5%;
    border-radius: 10px;
  }
  .first-section-footer > div {
    padding: 15px;
    width: 50%;
  }
  .first-section-footer > div > li {
    list-style: none;
  }
  .icon-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
  .icon-container-footer > img {
    width: 4.5%;
  }

  .second-section-footer {
    background-color: var(--lmblue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    gap: 50px;
  }
  .ul-title {
    font-weight: 600;
  }

  .left-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    gap: 20px;
    margin-right: 0;
  }
  .ul-footer {
    width: 30%;
    padding-left: 0;
  }

  .second-section-footer > div > ul > li {
    list-style: none;
  }
  .weather-container-footer {
    display: flex;
    align-items: center;
  }

  .top-icon {
    animation: bounce 3s infinite; /* Applique l'animation */
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0); /* Position initiale */
    }
    40% {
      transform: translateY(-15px); /* Déplace l'image vers le haut */
    }
    60% {
      transform: translateY(-7.5px); /* Rebond intermédiaire */
    }
  }
}
.thrid-section-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue);
  text-align: center;
  color: white;
  max-height: 6vw;
  font-size: clamp(10px, 1.5vw, 20px);
}
